body {
  background-image: url("/img/death-star-wallpaper.jpg");
  font-family: 'Gugi', cursive;
}

.header {
  z-index: 2;
  position: fixed;
  width: 100%;
  margin: 0 auto;
  background: #000;
  box-shadow: 0px 0px 13px 9px rgba(0, 0, 0, 0.35);
}

.header__navbar {
  float: right;
  padding-right: 5%;
}

.header__logo {
  display: inline-block;
  width: 300px;
  height: 50px;
  float: left;
  padding: 10px 0;
  padding-left: 5%;
}

.home-section {
  display: grid;
  width: 100%;
  height: 100vh;
  justify-content: center;
  grid-gap: 0px;
  grid-template-columns: 25% 50% 25%;
}

.home-section::before {
  content: "";
  position: fixed;
  width: 100%;
  height: 100vh;
  background-image: url("../img/star_wars_1.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  will-change: transform;
  z-index: -1;
}

.header__btn {
  display: none;
  float: right;
  margin: 0 auto;
  margin-top: 16px;
  margin-right: 10%;
  padding: 5px 10px;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  background: #0e0e0e;
  outline: none;
  font-size: 25px;
  cursor: pointer;
}

.home-section__box {
  box-sizing: border-box;
  width: 100%;
  color: #fff;
  text-align: center;
  align-self: center;
  grid-column-start: 2;
}

.container-title {
  width: 100%;
  margin: 0 auto;
}

.container-subtitle {
  width: 100%;
  margin: 0 auto;
  padding-top: 15px;
  padding-bottom: 60px;
}

.container-button {
  width: 100%;
  margin: 0 auto;
}

.home-section__title {
  text-shadow: 0px 6px 8px #000;
  font-size: 3.5em;
}

.home-section__subtitle {
  width: 100%;
  text-shadow: 0px 3px 4px #000;
  font-size: 1.7em;
}

.btn {
  width: 150px;
  height: 50px;
  padding: 10px 15px;
  border-radius: 25px;
  outline: none;
  cursor: pointer;
}

.btn--primary {
  color: #fff;
  border: 2px #fff;
  border-style: solid;
  background-color: black;
  font-family: 'Gugi', cursive;
  font-size: 1.5em;
  transition-duration: 0.2s;
  box-shadow: 0px 3px 4px #000;
  text-decoration: none;
}

.btn--secondary {
  color: #ddd;
  border: 2px #fff;
  border-style: solid;
  background-color: rgba(0, 0, 0, 0.0);
  font-family: 'Gugi', cursive;
  font-size: 1.5em;
  transition-duration: 0.2s;
  text-decoration: none;
}

.btn--primary:hover {
  color: #000;
  background-color: white;
  transition-duration: 0.2s;
}

.btn--secondary:hover {
  color: #000;
  background-color: white;
  transition-duration: 0.2s;
}

.header ul {
  margin: 0 auto;
  overflow: hidden;
  text-align: right;
  list-style-type: none;
  transition: 0.5s linear;
}

.header li {
  display: inline-block;
  margin-top: 26px;
  margin-left: 30px;
}

.header li a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
}

.header li a:hover {
  color: #ffe81f;
}

.features-grid {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
}

.follow_us-grid {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
}

.section {
  margin: 0 auto;
  padding: 100px 250px;
  text-align: center;
  line-height: 1.8em;
  box-shadow: 0px 0px 35px 9px rgba(0, 0, 0, 0.61);
  z-index: 1;
}

.section--dark {
  background-color: #15385d;
  color: #fff;
}

.section--light {
  background-color: #f4f4f4;
  color: #666;
}

.right-column {
  text-align: left;
  float: left;
  z-index: 1;
}

.left-column {
  text-align: center;
  float: right;
  z-index: 1;
}

.section__title {
  font-size: 2.5em;
}

.section__text {
  font-size: 1.4em;
  margin-top: 20px;
  margin-bottom: 40px;
}

.img-enciclopedia {
  box-shadow: -5px 5px rgba(0, 0, 0, 0.4), -10px 10px rgba(0, 0, 0, 0.3), -15px 15px rgba(0, 0, 0, 0.2), -20px 20px rgba(0, 0, 0, 0.1), -25px 25px rgba(0, 0, 0, 0.05);
  /*box-shadow: 0px 0px 0px 5px rgba(0, 0, 0, 0.4), 0px 0px 0px 10px rgba(0, 0, 0, 0.3), 0px 0px 0px 15px rgba(0, 0, 0, 0.2), 0px 0px 0px 20px rgba(0, 0, 0, 0.1), 0px 0px 0px 25px rgba(0, 0, 0, 0.05);*/
  height: 700px;
}

.img-bb8 {
  height: 400px;
}

.img1, .img2 {
  /*
    fixed = parallax
    scroll = normal
  */
  background-attachment: fixed;
  overflow: hidden;
  position: relative;
  z-index: -1;
}

.img1 {
  background-image: url("../img/star_wars_2.jpg");
  min-height: 400px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.img1::before {}

.img2 {
  background-image: url('../img/star_wars_3.jpg');
  min-height: 400px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.img2::before {}

.fadeInLeft {
  animation-name: fadeInLeft;
  animation-duration: 1.5s;
}

.fadeIn {
  animation-name: fadeIn;
  animation-duration: 2s;
}

.hidden-fade_in_left, .hidden-fade_in, .hidden-light_speed_in {
  opacity: 0;
  opacity: 0;
}

.section__social-icons ul {
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  text-align: left;
  list-style-type: none;
}

.section__social-icons li {
  margin: 0 auto;
  display: inline-block;
  color: white;
  margin-right: 20px;
}

.section__social-icons li a {
  text-decoration: none;
  color: white;
}

.section__social-icons i {
  font-size: 60px;
  transition: color 0.1s linear;
}

.section__social-icons i:hover {
  color: #ffe81f;
  transition: color 0.1s linear;
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(0);
    transform: translateX(-200px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes lightSpeedIn {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    opacity: 0;
  }
  60% {
    -webkit-transform: skewX(5deg);
    transform: skewX(5deg);
    opacity: 1;
  }
  80% {
    -webkit-transform: skewX(-2deg);
    transform: skewX(-2deg);
    opacity: 1;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.lightSpeedIn {
  -webkit-animation-name: lightSpeedIn;
  animation-name: lightSpeedIn;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  animation-duration: 1.5s;
}

@media screen and (max-width: 1600px) {
  .features-grid {
    grid-template-columns: 1fr;
  }
  .features-grid .right-column {
    text-align: center;
    margin-top: 70px;
  }
}

@media screen and (max-width: 900px) {
  .img1, .img2 {
    /*
      fixed = parallax
      scroll = normal
    */
    background-attachment: scroll;
    overflow: hidden;
    position: relative;
    z-index: -1;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  .home-section__title {
    font-size: 2em;
  }
  .home-section__subtitle {
    font-size: 1.5em;
  }
  .section__title {
    font-size: 1.4em;
  }
  .section__text {
    font-size: 1em;
  }
  .container-section__text {
    text-align: justify;
  }
  .section__social-icons i {
    font-size: 3em;
  }
  .section__social-icons li {
    margin-right: 0;
  }
  .btn--primary {
    font-size: 1em;
  }
  .btn--secondary {
    font-size: 1em;
  }
  .home-section {
    grid-template-columns: 1fr;
  }
  .features-grid {
    grid-template-columns: 1fr;
  }
  .follow_us-grid {
    grid-template-columns: 1fr;
  }
  .section {
    padding: 10%;
  }
  .right-column {
    text-align: center;
    margin-top: 50px;
  }
  .home-section__box {
    padding: 0px 20px;
    grid-column-start: 1;
  }
  .header__logo {
    width: 200px;
  }
  .header__btn {
    display: inline;
  }
  .header__navbar {
    float: none;
    padding-right: 0;
  }
  .header ul {
    width: 100%;
    max-height: 0;
    padding: 0px;
    background: #000;
  }
  .header li {
    box-sizing: border-box;
    width: 100%;
    margin-top: 0px;
    margin-left: 0px;
    padding: 15px;
  }
  .header li a {
    color: white;
  }
  .show {
    max-height: 500px !important;
  }
  .section__social-icons ul {
    text-align: center;
  }
}